requests==2.32.3
beautifulsoup4==4.13.3
selenium==4.29.0
pandas==2.2.3
numpy==2.0.2
nltk==3.9.1
transformers==4.48.3
scikit-learn==1.6.1
imbalanced-learn==0.13.0
tensorflow==2.18.0
tqdm==4.67.1
tf_keras==2.18.0
keras==3.8.0
contractions2